<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Wfes-gui</Name>
    <Version>1.0.0</Version>
    <Title>Wfes-gui installer</Title>
    <Publisher>Jason de Koning Laboratory, University of Calgary</Publisher>
    <StartMenuDir>Wfes-gui</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/Wfes-gui</TargetDir>
</Installer>
